body {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #212529;
    color: white;
}

section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}